meta {
    -theme-interface-style: dark;
    -theme-vibrancy: none;
    -theme-accent-color: false;
}

 /* .recolor {
    background: #1C2639;
    bg-lighter: #28344B
    comment: #A8ADB7;
    invisibles: #414D64;
    text: white;
    color: #FDD46B;
    color: #53E0FC;
    color: #F08261;
    color: #B8E97B;
    color: #C67BE9;
} */


/*
 * Window styles
 */
meta.window {
    background-color: #1C2639;
}
meta.titlebar {
    color: white;
    background-color: #1C2639;
}
meta.titlebar.inactive {
    background-color: #1C2639;
}

meta.button {
    background-color: #28344B;
    border-color: #414D64;
    color: white;
}
meta.button.highlighted {
    background-color: #FDD46B;
    color: #1C2639;
}
meta.button.selected {
    color: white;
}
meta.button.highlighted.selected {
    color: white;
}
meta.button.disabled {
    background: #28344B;
    color: hsb(0, 0%, 40%);
}

meta.textfield {
    background-color: #28344B;
    border-color: #414D64;
}

meta.accent {
    color: #FDD46B;
}

/*
 * Document styles
 */
meta.document {
    background-color: #1C2639;
}

meta.document.button {
    background-color: #1C2639;
}
meta.document.button.disabled {
    background-color: #28344B;
}
meta.document.button.highlighted {
    background-color: #B8E97B;
}

meta.document.textfield {
    background-color: #28344B;

}

/* Text */
meta.text {
    color: white;
}
meta.text.invisible {
    color: #414D64;
}
meta.text.selected {
    color: white;
    background-color: #28344B;
}

/* Cursor */
meta.cursor {
    background-color: #28344B;
}

/* Indentation Guides */
meta.indentguide {
    border-color: #414D64;
}
/* Gutter */
meta.gutter {
    background-color: #1C2639;
    color: #28344B;
}
meta.gutter.selected {
    background-color: #28344B;
    color: white;
}


/*
 * Syntax styles
 */
keyword {
    color: #FDD46B;
}
comment {
    color: #A8ADB7;
}
processing {
    color: #A8ADB7;
}
declaration {
    color: #A8ADB7;
}
bracket {
    color: white;
}
operator {
    color: white;
}
invalid {
    background-color: hsb(355, 82%, 96%);
}
link {
    color: #FDD46B;

}

/* Values */
value.boolean {
    color: #FDD46B;
}
value.null {
    color: #FDD46B;
}
value.number {
    color: #FDD46B;
}
value.entity {
    color: #FDD46B;
}
value.symbol {
    color: #FDD46B;
}

/* Identifiers */
identifier.type {
    color: #53E0FC;
}
identifier.constant {
}
identifier.global, identifier.variable {
    color: #F08261;
}
identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
    color: #B8E97B;
}
identifier.key {
    color: #FDD46B;
}
identifier.argument {
    color: #F08261;
}

/* Strings */
string {
    color: #FDD46B;
}
string.key {
    color: #53E0FC;
}
string-template {
    color: #FDD46B;
}
string-template.value {
    color: #FDD46B;
}
regex {
    color: #53E0FC;
}
regex.escaped {
    color: #B8E97B;
}
cdata {
    color: #FDD46B;
}

/* Markup */
markup.heading {
    color: #FDD46B;
}
markup.line {
    color: #B8E97B;
}
markup.bold {
    color: #53E0FC;
    font-weight: bold;
}
markup.italic {
    color: #B8E97B;
    font-style: italic;
}
markup.strikethrough {
    color: #F08261;
    text-decoration: line-through;
}
markup.list.item {
    color: #53E0FC;
}
markup.code {
    border-radius: 4px;
    background-color: #28344B;
    border-color: white;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
    font-weight: bold;
    color: #53E0FC;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
    color: #C67BE9;
}

/* Tags */
tag {
    color: #53E0FC;
}
tag.framework {
    color: #B8E97B;
}
tag.attribute.name {
    color: #FDD46B;
}
tag.attribute.value {
    color: #F08261;
}
tag.attribute.value.link {
    color: #C67BE9;
}

/* Styles */
style.at {
    color: #F08261;
}
style.selector.element {
    color: #53E0FC;
}
style.selector.identifier.id {
    color: #B8E97B;
}
style.selector.identifier.class {
    color: #FDD46B;
}
style.selector.pseudoclass {
    color: #F08261;
}
style.selector.pseudoelement {
    color: #B8E97B;
}
style.attribute.name {
    color: #53E0FC;
}
style.value.number {
    color: #F08261;
}
style.value.color.hex {
    color: #C67BE9;
}
style.value.keyword {
    color: #FDD46B;
}
style.value.color.named {
    color: #FDD46B;
}
